[Unit]
Description="Marcel the Discord Bot"
Requires=multi-user.target

[Service]
WorkingDirectory=/opt/marcel-the-bot
ExecStart=/opt/marcel-the-bot/marcel.py --config=/opt/marcel-the-bot/marcel.json
User=marcel
Group=marcel

[Install]
WantedBy=multi-user.target